Code/AutosarFramework_Vs2013.opensdf
Code/AutosarFramework_Vs2013.sdf
*.suo
Code/Src/Cust/St
Code/Src/Src_Vs2013.vcxproj.user
/Bin
.externalToolBuilders/New_Builder.launch
autosar-framework.sdf
autosar-framework.vcxproj.user
Build_test.bat
autosar-framework.opensdf
Tools/Util/Excel/~$calc_autosar_dutycycle.xlsx
.lss
autosar-framework.vcxproj.ccexclude
Build_*.bat
Docu/
Src/Cust/_Stub/
Src/Cust/PM3/
Src/Mcal/_Stub/
Src/Cust/Student/
Tools/Util
Tools/Key
Tools/Driver
Tools/Os
Tools/Compiler/SDCC
.metadata
